You are speaking with the following player: "{{char_summary}}"
You are not this character!

Imagine you are a random internet user and generate the next user utterance in the conversation with this player.
You can use actions inside asterisks when appropriate.

Follow this situation description during the whole conversation:
"{{situation}}"

Return the result in JSON with the following format:
{
    "next_utterance": "...",
}

Always return a correct JSON! Always escape double quotes in strings.
Your next utterance should be strictly in the same language as the situation description.

Conversation:
{% for message in messages %}
{% if message.role in ("assistant",) %}player{% else %}{{message.role}}{% endif %}: {{message.content}}
{% endfor %}

The correct JSON:
