<style>
    h3 { margin: 10px 0px 10px; }
    h4 { margin: 10px 0px 10px; }
    hr { margin-top: 30px; margin-bottom: 30px; }
    table { border-collapse: collapse; width: 100%; }
    th, td { border: 1px solid black; padding: 8px; text-align: left; }
    .average { font-weight: bold; }
    .dialog { margin-top: 20px; border: 1px solid #ddd; padding: 10px; }
    .user { color: #6a9fb5; }
    .assistant { color: #90a959; }
</style>
<h3>Scores for <b>{{player.get("short_name", player["model_name"])}}</b> by <b>{{judge.get("short_name", judge["model_name"])}}</b></h3>
<table id="scoreTable">
    <tr>
        <th>Situation</th>
        {% for char in characters %}
        <th>{{char}}</th>
        {% endfor %}
        <th>Average by situation</th>
    </tr>

    {% for situation in situations %}
        <tr>
        <td>{{situation | truncate(50)}}</td>
        {% for char in characters %}
        <td>{% if not scores[situation][char] %}REF{% else %}<a href="#" onclick="showDialog{{judge["model_name"] | replace("-", "_")}}(event, '{{keys[situation][char]}}')">{{scores[situation][char] | round(2, 'floor')}}</a>{% endif %}</td>
        {% endfor %}
        <td class='average'>{% if not situation_averages[situation] %}REF{% else %}{{situation_averages[situation] | round(2, 'floor')}}{% endif %}</td>
        </tr>
    {% endfor %}

    <tr>
    <td class='average'>Average by character</td>
    {% for char in characters %}
       <td class='average'>{% if not character_averages[char] %}REF{% else %}{{character_averages[char] | round(2, 'floor')}}{% endif %}</td>
    {% endfor %}
    <td class='average'>{{overall_average | round(2, 'floor')}}</td>
    </tr>
</table>
<h4>Judge</h4><code>{{judge|tojson}}</code>"
<h4>Player</h4><code>{{player|tojson}}</code>
<div id="dialogContainer_{{judge["model_name"] | replace("-", "_") }}" class="dialog" hidden></div>
<script>
    const dialogs_{{judge["model_name"] | replace("-", "_") }} = {{dialogs}}

        function showDialog{{judge["model_name"] | replace("-", "_") }}(e, key) {
            e = e || window.event;
            e.preventDefault();
            const dialog = dialogs_{{judge["model_name"] | replace("-", "_") }}[key];
            const messages = dialog["messages"];
            var container = document.getElementById('dialogContainer_{{judge["model_name"] | replace("-", "_") }}');
            if (!dialog) {
                container.innerHTML = 'Dialog not found';
                return;
            }
            let dialogHtml = '';
            dialogHtml += '<p>Character: ' + dialog["character"] + '</p>';
            dialogHtml += '<p>Situation: ' + dialog["situation"] + '</p>';
            dialogHtml += '<h3>Dialog</h3>';
            for (const message of messages) {
                dialogHtml += '<p class="' + message.role + '"><strong>' + message.role + ':</strong> ' + message.content + '</p>';
            }
            container.innerHTML = dialogHtml;
            container.removeAttribute("hidden");
            container.scrollIntoView();
        }
</script>
<hr>
