Внимательно прочитайте карточку персонажа и диалог. На основе реплик ассистента ответьте на 3 вопроса о качестве этих реплик. Критерии, по которым нужно оценить ответы:
<ul>
<li>Соответствие карточке персонажа: всё, что говорит ассистент, не должно противоречить карточке.</li>
<li>Развлекательность: вам должно быть интересно читать ответы ассистента, они не должны повторяться между разными репликами в рамках одного диалога.</li>
<li>Язык: ответы должны быть на хорошем русском языке, если иного не указано в карточке персонажа.
</li></ul>

<h2>Вопросы и ответы</h2>
<p><b>Вопрос</b>: Что делать, если ассистент отвечает на английском вместо русского? <b>Ответ</b>: В вопросе про язык нужно поставить минимальный балл, в остальных — на ваше усмотрение.</p>

<p><b>Вопрос</b>: Что делать, если реплики ассистента повторяются? <b>Ответ</b>: В вопросе про развлекательность нужно поставить минимальный балл, в остальных — на ваше усмотрение.</p>

<p><b>Вопрос</b>: Что делать, если реплики пользователя не очень корректны? <b>Ответ</b>: Ничего, ваша задача — оценка только ответов ассистента.</p>
